body {
    background-color: darkslategray;

}

.header{
    display: flex;
    justify-content: center;
    color: aliceblue;

}

.bottoms-activ{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 70px;

}

.button-white{
    border-radius: 5px;
    height: 35px;
    width: 120px;
    
}

.button-black{
    border-radius: 5px;
    height: 35px;
    width: 120px;

}


.keys__key_piano{
    display: flex;
    justify-content: center;

}

.keys_key-white{
    display: flex;

}

.key-do{
    width: 100px;
    height: 400px;
    background-color: blanchedalmond;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    
}

.key-re{
    width: 100px;
    height: 400px;
    background-color: blanchedalmond;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    
}

.key-mi{
    width: 100px;
    height: 400px;
    background-color: blanchedalmond;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    
}

.key-fa{
    width: 100px;
    height: 400px;
    background-color: blanchedalmond;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    
}

.key-sol{
    width: 100px;
    height: 400px;
    background-color: blanchedalmond;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

}

.key-lya{
    width: 100px;
    height: 400px;
    background-color: blanchedalmond;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    
}

.key-si{
    width: 100px;
    height: 400px;
    background-color: blanchedalmond;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

}


.keys_note-white{
    font-size: 25px;
    margin-top: 350px;
}


.keys_key-black{
    position: absolute;
    display: flex;

}


.key-dodiez{
    width: 60px;
    height: 250px;
    background-color: rgb(8, 7, 5);
    border-radius: 8px;
    margin-right: 40px;
    
}

.key-rediez{
    width: 60px;
    height: 250px;
    background-color: rgb(8, 7, 5);
    border-radius: 8px;
    margin-right: 90px;

}

.key-fadiez{
    width: 60px;
    height: 250px;
    background-color: rgb(8, 7, 5);
    border-radius: 8px;
    margin-right: 40px;
    margin-left: 50px;

}


.key-soldiez{
    width: 60px;
    height: 250px;
    background-color: rgb(8, 7, 5);
    border-radius: 8px;
    margin-right: 40px;

}

.key-lyadiez{
    width: 60px;
    height: 250px;
    background-color: rgb(8, 7, 5);
    border-radius: 8px;
    margin-right: 10px;

}
